# Required environment variables
###################################

# Database url, only sqlite is supported.
DATABASE_URL=/riven/data/riven.db
# Riven backend url
BACKEND_URL=
# Riven backend api key
BACKEND_API_KEY=
# Generate a random secret for better-auth. Use `openssl rand -base64 32` to generate one.
BETTER_AUTH_SECRET=random_secret
# Set to the frontend url, also used as ORIGIN
BETTER_AUTH_URL=http://localhost:5173

# Optional environment variables
###################################

## Auth settings
# DISABLE_EMAIL_PASSWORD=
# DISABLE_EMAIL_PASSWORD_SIGNUP=

# DISABLE_PLEX=
# DISABLE_PLEX_SIGNUP=

# PASSKEY_RP_ID
# PASSKEY_RP_NAME

# Other settings
###############################

# PUBLIC_TMDB_READ_ACCESS_TOKEN=
# PUBLIC_TRAKT_CLIENT_ID=

# Development
##################################

# Their values are also the default, so not strictly necessary to set
# DRIZZLE_SCHEMA_PATH="./src/lib/server/schema"
# DRIZZLE_MIGRATIONS_PATH="drizzle" 