# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
src/lib/api/
src/lib/components/ui/
scripts/trakt.apib
src/lib/providers/*
!src/lib/providers/index.ts
!src/lib/providers/parser.ts