@import "./darkmatter.css";
@import "./amberminimal.css";
@import "./bubblegum.css";
@import "./caffeine.css";
@import "./catppuccin.css";
@import "./cyberpunk.css";
@import "./doom64.css";
@import "./mono.css";
@import "./neobrutalism.css";
@import "./galacticglitch.css";
@import "./amethysthaze.css";
@import "./graphite.css";
@import "./mochamousse.css";
@import "./solardusk.css";
@import "./t3-chat.css";