html[data-theme="bubblegum"] {
    --background: oklch(0.2497 0.0305 234.1628);
    --foreground: oklch(0.9306 0.0197 349.0785);
    --card: oklch(0.2902 0.0299 233.5352);
    --card-foreground: oklch(0.9306 0.0197 349.0785);
    --popover: oklch(0.2902 0.0299 233.5352);
    --popover-foreground: oklch(0.9306 0.0197 349.0785);
    --primary: oklch(0.9195 0.0801 87.667);
    --primary-foreground: oklch(0.2497 0.0305 234.1628);
    --secondary: oklch(0.7794 0.0803 4.133);
    --secondary-foreground: oklch(0.2497 0.0305 234.1628);
    --muted: oklch(0.2713 0.0086 255.578);
    --muted-foreground: oklch(0.7794 0.0803 4.133);
    --accent: oklch(0.6699 0.0988 356.9762);
    --accent-foreground: oklch(0.9306 0.0197 349.0785);
    --destructive: oklch(0.6702 0.1806 350.3599);
    --destructive-foreground: oklch(0.2497 0.0305 234.1628);
    --border: oklch(0.3907 0.0399 242.2181);
    --input: oklch(0.3093 0.0305 232.0027);
    --ring: oklch(0.6998 0.0896 201.8672);
    --chart-1: oklch(0.6998 0.0896 201.8672);
    --chart-2: oklch(0.7794 0.0803 4.133);
    --chart-3: oklch(0.6699 0.0988 356.9762);
    --chart-4: oklch(0.4408 0.0702 217.0848);
    --chart-5: oklch(0.2713 0.0086 255.578);
    --sidebar: oklch(0.2303 0.027 235.9743);
    --sidebar-foreground: oklch(0.967 0.0029 264.5419);
    --sidebar-primary: oklch(0.6559 0.2118 354.3084);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8228 0.1095 346.0184);
    --sidebar-accent-foreground: oklch(0.2781 0.0296 256.848);
    --sidebar-border: oklch(0.3729 0.0306 259.7328);
    --sidebar-ring: oklch(0.6559 0.2118 354.3084);
    --radius: 0.4rem;
    --shadow-x: 3px;
    --shadow-y: 3px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: #324859;
    --shadow-2xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
    --shadow-xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
    --shadow-sm:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow-md:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow-lg:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow-xl:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow-2xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 2.5);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
