html[data-theme="cyberpunk"] {
    --background: oklch(0.1649 0.0352 281.8285);
    --foreground: oklch(0.9513 0.0074 260.7315);
    --card: oklch(0.2542 0.0611 281.1423);
    --card-foreground: oklch(0.9513 0.0074 260.7315);
    --popover: oklch(0.2542 0.0611 281.1423);
    --popover-foreground: oklch(0.9513 0.0074 260.7315);
    --primary: oklch(0.6726 0.2904 341.4084);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.2542 0.0611 281.1423);
    --secondary-foreground: oklch(0.9513 0.0074 260.7315);
    --muted: oklch(0.2123 0.0522 280.9917);
    --muted-foreground: oklch(0.6245 0.05 278.1046);
    --accent: oklch(0.8903 0.1739 171.269);
    --accent-foreground: oklch(0.1649 0.0352 281.8285);
    --destructive: oklch(0.6535 0.2348 34.037);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3279 0.0832 280.789);
    --input: oklch(0.3279 0.0832 280.789);
    --ring: oklch(0.6726 0.2904 341.4084);
    --chart-1: oklch(0.6726 0.2904 341.4084);
    --chart-2: oklch(0.5488 0.2944 299.0954);
    --chart-3: oklch(0.8442 0.1457 209.2851);
    --chart-4: oklch(0.8903 0.1739 171.269);
    --chart-5: oklch(0.9168 0.1915 101.407);
    --sidebar: oklch(0.1649 0.0352 281.8285);
    --sidebar-foreground: oklch(0.9513 0.0074 260.7315);
    --sidebar-primary: oklch(0.6726 0.2904 341.4084);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8903 0.1739 171.269);
    --sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);
    --sidebar-border: oklch(0.3279 0.0832 280.789);
    --sidebar-ring: oklch(0.6726 0.2904 341.4084);
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 8px;
    --shadow-spread: -2px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
