html[data-theme="doom64"] {
    --background: oklch(0.2178 0 0);
    --foreground: oklch(0.9067 0 0);
    --card: oklch(0.285 0 0);
    --card-foreground: oklch(0.9067 0 0);
    --popover: oklch(0.285 0 0);
    --popover-foreground: oklch(0.9067 0 0);
    --primary: oklch(0.6083 0.209 27.0276);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.6423 0.1467 133.0145);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.2645 0 0);
    --muted-foreground: oklch(0.7058 0 0);
    --accent: oklch(0.7482 0.1235 244.7492);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.7839 0.1719 68.0943);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.4091 0 0);
    --input: oklch(0.4091 0 0);
    --ring: oklch(0.6083 0.209 27.0276);
    --chart-1: oklch(0.6083 0.209 27.0276);
    --chart-2: oklch(0.6423 0.1467 133.0145);
    --chart-3: oklch(0.7482 0.1235 244.7492);
    --chart-4: oklch(0.7839 0.1719 68.0943);
    --chart-5: oklch(0.6471 0.0334 40.7963);
    --sidebar: oklch(0.1913 0 0);
    --sidebar-foreground: oklch(0.9067 0 0);
    --sidebar-primary: oklch(0.6083 0.209 27.0276);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.7482 0.1235 244.7492);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0.4091 0 0);
    --sidebar-ring: oklch(0.6083 0.209 27.0276);
    --radius: 0px;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.6;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
    --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
    --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 1px 2px -1px hsl(0 0% 0% / 0.6);
    --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 1px 2px -1px hsl(0 0% 0% / 0.6);
    --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 2px 4px -1px hsl(0 0% 0% / 0.6);
    --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 4px 6px -1px hsl(0 0% 0% / 0.6);
    --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 8px 10px -1px hsl(0 0% 0% / 0.6);
    --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 1.5);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
