html[data-theme="galacticglitch"] {
    --background: oklch(0.0984 0.0682 264.052);
    --foreground: oklch(0.8664 0.2948 142.4953);
    --card: oklch(0.2284 0.0384 282.9324);
    --card-foreground: oklch(0.7017 0.3225 328.3634);
    --popover: oklch(0.1665 0.027 283.0667);
    --popover-foreground: oklch(0.9054 0.1546 194.7689);
    --primary: oklch(0.968 0.211 109.7692);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.6602 0.2294 35.4025);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.22 0.0662 327.5362);
    --muted-foreground: oklch(0.8903 0.2648 136.0072);
    --accent: oklch(0.652 0.1901 253.2054);
    --accent-foreground: oklch(0.9135 0.1119 102.8292);
    --destructive: oklch(0.8664 0.2948 142.4953);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.9054 0.1546 194.7689);
    --input: oklch(0.7017 0.3225 328.3634);
    --ring: oklch(0.968 0.211 109.7692);
    --chart-1: oklch(0.968 0.211 109.7692);
    --chart-2: oklch(0.6602 0.2294 35.4025);
    --chart-3: oklch(0.652 0.1901 253.2054);
    --chart-4: oklch(0.8664 0.2948 142.4953);
    --chart-5: oklch(0.7017 0.3225 328.3634);
    --sidebar: oklch(0 0 0);
    --sidebar-foreground: oklch(0.8664 0.2948 142.4953);
    --sidebar-primary: oklch(0.968 0.211 109.7692);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(0.7017 0.3225 328.3634);
    --sidebar-accent-foreground: oklch(0.9054 0.1546 194.7689);
    --sidebar-border: oklch(0.8664 0.2948 142.4953);
    --sidebar-ring: oklch(0.652 0.1901 253.2054);
    --radius: 0.1rem;
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: hsl(120 100% 50% / 0.6);
    --shadow-2xs: 2px 2px 0px 0px hsl(120 100% 50% / 0.5);
    --shadow-xs: 2px 2px 0px 0px hsl(120 100% 50% / 0.5);
    --shadow-sm: 2px 2px 0px 0px hsl(120 100% 50% / 1), 2px 1px 2px -1px hsl(120 100% 50% / 1);
    --shadow: 2px 2px 0px 0px hsl(120 100% 50% / 1), 2px 1px 2px -1px hsl(120 100% 50% / 1);
    --shadow-md: 2px 2px 0px 0px hsl(120 100% 50% / 1), 2px 2px 4px -1px hsl(120 100% 50% / 1);
    --shadow-lg: 2px 2px 0px 0px hsl(120 100% 50% / 1), 2px 4px 6px -1px hsl(120 100% 50% / 1);
    --shadow-xl: 2px 2px 0px 0px hsl(120 100% 50% / 1), 2px 8px 10px -1px hsl(120 100% 50% / 1);
    --shadow-2xl: 2px 2px 0px 0px hsl(120 100% 50% / 2.5);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
