html[data-theme="mochamousse"] {
    --background: oklch(0.2721 0.0141 48.1783);
    --foreground: oklch(0.9529 0.0146 102.4597);
    --card: oklch(0.3291 0.0156 50.8936);
    --card-foreground: oklch(0.9529 0.0146 102.4597);
    --popover: oklch(0.3291 0.0156 50.8936);
    --popover-foreground: oklch(0.9529 0.0146 102.4597);
    --primary: oklch(0.7272 0.0539 52.332);
    --primary-foreground: oklch(0.2721 0.0141 48.1783);
    --secondary: oklch(0.5416 0.0512 37.2132);
    --secondary-foreground: oklch(0.9529 0.0146 102.4597);
    --muted: oklch(0.4063 0.0255 40.3627);
    --muted-foreground: oklch(0.7575 0.038 50.861);
    --accent: oklch(0.7473 0.0387 80.5476);
    --accent-foreground: oklch(0.2721 0.0141 48.1783);
    --destructive: oklch(0.6875 0.142 21.4566);
    --destructive-foreground: oklch(0.2721 0.0141 48.1783);
    --border: oklch(0.4063 0.0255 40.3627);
    --input: oklch(0.4063 0.0255 40.3627);
    --ring: oklch(0.7272 0.0539 52.332);
    --chart-1: oklch(0.7272 0.0539 52.332);
    --chart-2: oklch(0.7473 0.0387 80.5476);
    --chart-3: oklch(0.6083 0.0623 44.3588);
    --chart-4: oklch(0.5416 0.0512 37.2132);
    --chart-5: oklch(0.644 0.0405 52.3917);
    --sidebar: oklch(0.2225 0.0098 52.9636);
    --sidebar-foreground: oklch(0.9529 0.0146 102.4597);
    --sidebar-primary: oklch(0.7272 0.0539 52.332);
    --sidebar-primary-foreground: oklch(0.2225 0.0098 52.9636);
    --sidebar-accent: oklch(0.7473 0.0387 80.5476);
    --sidebar-accent-foreground: oklch(0.2225 0.0098 52.9636);
    --sidebar-border: oklch(0.4063 0.0255 40.3627);
    --sidebar-ring: oklch(0.7272 0.0539 52.332);
    --radius: 0.5rem;
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.11;
    --shadow-color: hsl(20 18% 30% / 0.5);
    --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
    --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
    --shadow-sm: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
    --shadow: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
    --shadow-md: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 2px 4px -1px hsl(20 18% 30% / 0.11);
    --shadow-lg: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 4px 6px -1px hsl(20 18% 30% / 0.11);
    --shadow-xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 8px 10px -1px hsl(20 18% 30% / 0.11);
    --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
