html[data-theme="mono"] {
    --background: oklch(0.1448 0 0);
    --foreground: oklch(0.9851 0 0);
    --card: oklch(0.2134 0 0);
    --card-foreground: oklch(0.9851 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9851 0 0);
    --primary: oklch(0.5555 0 0);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.709 0 0);
    --accent: oklch(0.3715 0 0);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.7022 0.1892 22.2279);
    --destructive-foreground: oklch(0.2686 0 0);
    --border: oklch(0.3407 0 0);
    --input: oklch(0.4386 0 0);
    --ring: oklch(0.5555 0 0);
    --chart-1: oklch(0.5555 0 0);
    --chart-2: oklch(0.5555 0 0);
    --chart-3: oklch(0.5555 0 0);
    --chart-4: oklch(0.5555 0 0);
    --chart-5: oklch(0.5555 0 0);
    --sidebar: oklch(0.2046 0 0);
    --sidebar-foreground: oklch(0.9851 0 0);
    --sidebar-primary: oklch(0.9851 0 0);
    --sidebar-primary-foreground: oklch(0.2046 0 0);
    --sidebar-accent: oklch(0.2686 0 0);
    --sidebar-accent-foreground: oklch(0.9851 0 0);
    --sidebar-border: oklch(1 0 0);
    --sidebar-ring: oklch(0.4386 0 0);
    --radius: 0rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
    --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
    --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
    --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
