html[data-theme="solardusk"] {
    --background: oklch(0.2161 0.0061 56.0434);
    --foreground: oklch(0.9699 0.0013 106.4238);
    --card: oklch(0.2685 0.0063 34.2976);
    --card-foreground: oklch(0.9699 0.0013 106.4238);
    --popover: oklch(0.2685 0.0063 34.2976);
    --popover-foreground: oklch(0.9699 0.0013 106.4238);
    --primary: oklch(0.7049 0.1867 47.6044);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.4444 0.0096 73.639);
    --secondary-foreground: oklch(0.9232 0.0026 48.7171);
    --muted: oklch(0.233 0.0073 67.4563);
    --muted-foreground: oklch(0.7161 0.0091 56.259);
    --accent: oklch(0.3598 0.0497 229.3202);
    --accent-foreground: oklch(0.9232 0.0026 48.7171);
    --destructive: oklch(0.5771 0.2152 27.325);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3741 0.0087 67.5582);
    --input: oklch(0.3741 0.0087 67.5582);
    --ring: oklch(0.7049 0.1867 47.6044);
    --chart-1: oklch(0.7049 0.1867 47.6044);
    --chart-2: oklch(0.6847 0.1479 237.3225);
    --chart-3: oklch(0.7952 0.1617 86.0468);
    --chart-4: oklch(0.7161 0.0091 56.259);
    --chart-5: oklch(0.5534 0.0116 58.0708);
    --sidebar: oklch(0.2685 0.0063 34.2976);
    --sidebar-foreground: oklch(0.9699 0.0013 106.4238);
    --sidebar-primary: oklch(0.7049 0.1867 47.6044);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.6847 0.1479 237.3225);
    --sidebar-accent-foreground: oklch(0.2839 0.0734 254.5378);
    --sidebar-border: oklch(0.3741 0.0087 67.5582);
    --sidebar-ring: oklch(0.7049 0.1867 47.6044);
    --radius: 0.3rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.18;
    --shadow-color: hsl(0 0% 5%);
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 2px 4px -1px hsl(0 0% 5% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 4px 6px -1px hsl(0 0% 5% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 8px 10px -1px hsl(0 0% 5% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
