@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2101 0.0318 264.6645);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2101 0.0318 264.6645);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2101 0.0318 264.6645);
    --primary: oklch(0.6716 0.1368 48.513);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.536 0.0398 196.028);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.967 0.0029 264.5419);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9491 0 0);
    --accent-foreground: oklch(0.2101 0.0318 264.6645);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.6716 0.1368 48.513);
    --chart-1: oklch(0.594 0.0443 196.0233);
    --chart-2: oklch(0.7214 0.1337 49.9802);
    --chart-3: oklch(0.8721 0.0864 68.5474);
    --chart-4: oklch(0.6268 0 0);
    --chart-5: oklch(0.683 0 0);
    --sidebar: oklch(0.967 0.0029 264.5419);
    --sidebar-foreground: oklch(0.2101 0.0318 264.6645);
    --sidebar-primary: oklch(0.6716 0.1368 48.513);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(1 0 0);
    --sidebar-accent-foreground: oklch(0.2101 0.0318 264.6645);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.6716 0.1368 48.513);
    --font-sans: Geist Mono, ui-monospace, monospace;
    --font-serif: serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: 0rem;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1797 0.0043 308.1928);
    --foreground: oklch(0.8109 0 0);
    --card: oklch(0.1822 0 0);
    --card-foreground: oklch(0.8109 0 0);
    --popover: oklch(0.1797 0.0043 308.1928);
    --popover-foreground: oklch(0.8109 0 0);
    --primary: oklch(0.7214 0.1337 49.9802);
    --primary-foreground: oklch(0.1797 0.0043 308.1928);
    --secondary: oklch(0.594 0.0443 196.0233);
    --secondary-foreground: oklch(0.1797 0.0043 308.1928);
    --muted: oklch(0.252 0 0);
    --muted-foreground: oklch(0.6268 0 0);
    --accent: oklch(0.3211 0 0);
    --accent-foreground: oklch(0.8109 0 0);
    --destructive: oklch(0.594 0.0443 196.0233);
    --destructive-foreground: oklch(0.1797 0.0043 308.1928);
    --border: oklch(0.252 0 0);
    --input: oklch(0.252 0 0);
    --ring: oklch(0.7214 0.1337 49.9802);
    --chart-1: oklch(0.594 0.0443 196.0233);
    --chart-2: oklch(0.7214 0.1337 49.9802);
    --chart-3: oklch(0.8721 0.0864 68.5474);
    --chart-4: oklch(0.6268 0 0);
    --chart-5: oklch(0.683 0 0);
    --sidebar: oklch(0.1822 0 0);
    --sidebar-foreground: oklch(0.8109 0 0);
    --sidebar-primary: oklch(0.7214 0.1337 49.9802);
    --sidebar-primary-foreground: oklch(0.1797 0.0043 308.1928);
    --sidebar-accent: oklch(0.3211 0 0);
    --sidebar-accent-foreground: oklch(0.8109 0 0);
    --sidebar-border: oklch(0.252 0 0);
    --sidebar-ring: oklch(0.7214 0.1337 49.9802);
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
        font-family: "Plus Jakarta Sans", sans-serif;
    }
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-ExtraLight.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-ExtraLight.woff") format("woff"),
        url("/fonts/PlusJakartaSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-ExtraLightItalic.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-ExtraLightItalic.woff") format("woff"),
        url("/fonts/PlusJakartaSans-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-Light.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-Light.woff") format("woff"),
        url("/fonts/PlusJakartaSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-LightItalic.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-LightItalic.woff") format("woff"),
        url("/fonts/PlusJakartaSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-Regular.woff") format("woff"),
        url("/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-Italic.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-Italic.woff") format("woff"),
        url("/fonts/PlusJakartaSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-Medium.woff") format("woff"),
        url("/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-MediumItalic.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-MediumItalic.woff") format("woff"),
        url("/fonts/PlusJakartaSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-SemiBold.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-SemiBold.woff") format("woff"),
        url("/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-SemiBoldItalic.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-SemiBoldItalic.woff") format("woff"),
        url("/fonts/PlusJakartaSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-Bold.woff") format("woff"),
        url("/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-BoldItalic.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-BoldItalic.woff") format("woff"),
        url("/fonts/PlusJakartaSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-ExtraBold.woff") format("woff"),
        url("/fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src:
        url("/fonts/PlusJakartaSans-ExtraBoldItalic.woff2") format("woff2"),
        url("/fonts/PlusJakartaSans-ExtraBoldItalic.woff") format("woff"),
        url("/fonts/PlusJakartaSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: italic;
}

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: grey;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow:
        0 0 10px grey,
        0 0 5px grey;
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: grey;
    border-left-color: grey;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
